body {
  background-color: black;
  margin: 0;
}

.line {
  position: absolute;
  border: 1px solid white;
}

.horizontal {
  width: 100%;
  height: 1px;
}

.vertical {
  height: 100%;
  width: 1px;
}

.tag {
  color: white;
  position: absolute;
  margin: 20px;
}
